@font-face {
	font-family: 'bloom';
	src: url('typo/Blooms.otf') format("TrueType");
    
}


html,body {margin: 0;
    padding: 0;
    background-image:url(images/bg1.jpg);
    background-size: cover; /* Redimensionne l'image pour couvrir tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center;   
}

header {
    background-color: rgb(95, 220, 183);
    opacity: 90%;
    color: aliceblue;
}

nav {
    padding: 0.7%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#placement {

    width: 40%;
    display: flex;
    justify-content:space-around;
}
.bord {
    border: solid;
    border-radius: 3vh;
    padding: 1vh;
}

#search {
    border: none;
    border-radius: 50px;
    padding:4%;
    margin-right:20px;
    opacity:60%;
}

h2 {font-family: bloom;
    font-size: 500%;
    color: rgb(95, 220, 183);
    display: flex;
    padding: 30px;
    justify-content: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.animation-titre {
    overflow: hidden; /* Cache le texte qui dépasse */
    border-right: .15em solid transparent;/* Curseur clignotant */
    white-space: nowrap; /* Empêche le texte de sauter à la ligne */
    margin: 0 auto; /* Centre le texte horizontalement */
    animation: typing 3s steps(13) forwards; /* Animation de saisie */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
    
.slide-presentation {
    position: relative;
    width: 350px; /* Largeur de la zone de présentation */
    height: 380px; /* Hauteur de la zone de présentation */
    overflow: hidden; /* Cache les diapositives en dehors de la zone de présentation */
    margin: 0 auto;
}

.slide {
    width: 350px;
    height: 380px;
    position: absolute;
    opacity: 0;
    
}

img {
    width: 95%;
    height: 95%;
}

.texte {
    position: absolute;
    color: white;
    background: rgba(40, 39, 39, 0.5);
    padding: 5px;
}

#slide1 {
    background-image: url(photo1.jpg);
    animation: fade 20s infinite;
}

#slide2 {
    background-image: url(photo2.jpg);
    animation: fade 25s 5s infinite; 
}

#slide3 {
    background-image: url(photo3.jpg);
    animation: fade 25s 10s infinite;
}

#slide4 {
    background-image: url(photo4.jpg);
    animation: fade 25s 15s infinite;
}

#slide5 {
    background-image: url(photo5.jpg);
    animation: fade 25s 20s infinite;
}

#slide6 {
    background-image: url(photo6.jpg);
    animation: fade 25s 25s infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
        left: 0; /* Redémarre à gauche de la zone de présentation */
    }
    10%, 90% {
        opacity: 1;
        left: 0; /* Reste à gauche de la zone de présentation */
    }
    20%, 80% {
        opacity: 1;
        left: -350px; /* Déplace vers la gauche pour révéler la diapositive suivante */
    }
}

