@font-face {
	font-family: 'bloom';
	src: url('typo/Blooms.otf') format("TrueType");
    
}


html,body {margin: 0;
    padding: 0;
    background-image:url(images/bg1.jpg);
    background-size: cover; /* Redimensionne l'image pour couvrir tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center;   
}

header {
    background-color: rgb(95, 220, 183);
    opacity: 90%;
    color: aliceblue;
}

nav {
    padding: 0.7%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#placement {
    width: 40%;
    display: flex;
    justify-content:space-around;
}

.mosaique {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.photo {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.photo img {
    max-width: 50%;
    max-height: 50%;
}